@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100;300;400;500;700;900&display=swap');
*, :after, :before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f2f3f7;
    font-size: .8rem;
    font-family: 'Robot',sans-serif;
}
.text-bold{
    font-weight: 700;
}
.Main-container{
    display: flex;
    /* align-items: center; */
    justify-content: start;
    min-height: 100vh;
    max-width: 1200px;
    margin: 1rem 0 1rem 0;
}
.section1{
    flex: 0 0 auto;
    width: 80%;
    border: 1px solid rgb(198, 197, 197);
    padding: 1.5rem;
    border-radius: 0.756rem;
    margin-left: 9%;
    background: white;
    box-shadow: 1px 2px 8px #6c757d;
}
.Date-Section{
    display: flex;
    justify-content: space-between;
}
.margin-hr{
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
}
.Bill-address-section{
    display: flex;
    width: 100%;
    gap: 2rem;
    /* justify-content: space-between; */
}
.bill-to, .bill-from{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    width: 50%;
}
.bill-to input, .bill-from input{
    background: #e8f0fe;
    border-radius: 5px;
}
.form-label{
    margin-bottom: 0.5rem;
    /* background: #f5f7f9; */
    /* background: blue; */
}
.form-control{
    font-weight: 400;
    padding: 0.5rem 0.75rem;
    border: none;
}
.my-2{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-1{
    margin-top: .25rem!important;
    margin-bottom: .25rem!important;
}
.flex-nowrap{
    flex-wrap: nowrap;
}
.input-group{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.btn{
    font-size: .9rem;
    padding: 0.66rem;
    border-radius: 0.5rem;
    box-shadow: 0 .1rem .1rem rgba(0,0,0,.05);
    border: 1px solid transparent;
    cursor: pointer;
}
.mt-4{
    margin-top: 1.5rem;
}
.cart_Section{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.col-cart{
    flex: 0 0 auto;
    width: 50%;
}
.cart-content{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.mt-2{
    margin-top: 1rem
}
.my-4{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.notes{
    display: flex;
    flex-direction: column;
}
.section2{
    width: 20%;
    position: fixed;
    height: 100vh;
    right: 9%;
}
.review-btn{
    width: 100%;
}
.btn-primary{
    color: #fff;
    background-color: #0d6efd;
    /* border-color: #0d6efd; */
}
.mb-3{
    margin-bottom: 1rem;
}
.btn-light, .btn-light:hover {
    border-color: #dedede;
}
.tax-rate,.discount-rate{
    background-color: white;
    border: 1px solid #ced4da;
    width: 85%;
    border-bottom-left-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
}
.input-group-text {
    display: flex;
    align-items: center;
    padding: 0.375rem 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    margin-left: -1%;
    border-bottom-right-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    width: 15%;
}
.delete{
    background-color: red;
    color: white;
}
.dollar{
    border-radius: 50%;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.375rem;
    font-size: 1rem;
    font-weight: 400;
    color: #212529;
    text-align: center;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
}
.d-none{
    display: none;
}
.input-group-item{
    position: relative;
    display: flex;
    /* flex-wrap: wrap; */
    align-items: stretch;
    width: 100%;
}
.form-select{
    width: 100%;
    text-align: center;
}
.lightbox{
    position: fixed;
    z-index: 5;
    background: rgba(0,0,0,0.65);
    width: 100%;
    height: 100%;
    display: none;
    top: 0;
  }
  .lightbox .wrapper{
    position: absolute;
    left: 25%;
    top: 10%;
    background: rgba(255,255,255,1);
    padding: 20px;
    border-radius: 5px;
    min-height: 500px;
    max-height: auto;
    width: 800px;
    border: 1px solid rgba(0,0,0,.2);
  }
  .popup_head{
    display: flex;
    justify-content: space-between;
    background-color: rgb(172, 172, 244);
    padding: 10px;
    border-radius: 5px;
  }

  .buttons{
    display: flex;
    gap: 1rem;
    margin-top:2rem;
  }
  #sendInvoice, #Download{
    width: 50%;
  }
  #Download{
    border: 1px solid #0d6efd;
    color: #0d6efd;
    background-color: white;
  }
  
  
  .address{
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
    margin-top: 2rem;
    width: 100%;
  }
  .lightBox-table{
    width: 100%;
    color: #212529;
    vertical-align: top;
    border-color: #dee2e6;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }
.text-end{
    text-align: right;
}

.TableItem{
    display: flex;
    flex-direction: column;
}
.tableHead{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.other{
    display: flex;
    gap: 5rem;
}
.tableInfoBody{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    gap: 1rem;
    border-bottom: 1px solid rgb(157, 157, 157);
    padding-bottom: 1rem;

}

.table-row{
    display: flex;
}
.itemInfoDiv{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 60%;
}
.itemInfoDiv input{
    padding: 0.5rem;
    background-color: #e8f0fe;
    border: none;
    border-radius: 5px;
}

.otherContent{
    display: flex;
    width: 40%;
}
.quant{
    width: 25%;
    height: 30px;
    border-radius: 5px;
    background-color: #f5f7f9;
    border: none;
    text-align: center;
    /* margin-left: 38px; */
}
.priceInput{
    width: 40%;
    height: 30px;
    text-align: center;
    margin-left: 10px;
    border-radius: 5px;
    border: none;
    background-color: #f5f7f9;
}
.priceInfo{
    display: flex;
    justify-content: center;
}
.symbol{
    height: 33px;
    width: 33px;
    border: 2px solid #2b3136;
    color: #2b3136;
    border-radius: 50%;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.deleteIcon{
    height: 33px;
    width: 33px;
    /* text-align: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
    border-radius: 5px;
}
.display-none{
    display: none;
}

/* lightBox Table */
.LightBox_tableHead{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}
.hd1{
    width: 10%;
}
.hd2{
    width: 50%;
}
.hd3{
    width: 15%;
}
.hd4{
    width: 15%;
}
.lightBox_TableBody{
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 10px;
}
.ligthBox_Tr{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1.5px solid #acaaaa;
}
.hdAmount{
    text-align: center
}
.seperator{
    padding: 10px;
    border-bottom: 1.5px solid #acaaaa;
}
.displaytotal{
    display: flex;
    flex-direction: column;
}
.subtotal{
    display: flex;
    justify-content: end;
    gap: 2rem;
    padding: 10px;
    margin-right: 5%;
}
.lightBoxtotal{
    display: flex;
    justify-content: end;
    gap: 2rem;
    padding: 10px;
    margin-right: 5%;
}

.billTo-LightBox{
    width: 40%;
}
.billFrom-LightBox{
    width: 40%;
}
.dateOfIssue_print{
    width: 20%;
}
.popupInvoiceColor{
    color: #22313f;
    font-weight: 700;
}
.CalculateTotal{
    text-align: end;
}
.calculateTotal{
    width: 50%;
}
.bill-to-my, .bill-from-my{
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}
.invoice_number{
    border: none;
    height: 30px;
    border: none;
    text-align: center;
    border-radius: 5px;
    /* outline: 2px solid #c2dbfe; */
    /* outline: #c2dbfe solid 2px; */
    background-color: #d6e0ee;
}
input{
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.15s;
    outline: none;
    border: none;
  }
  
input:focus {
    border: 3px solid #accaf3 ;
}
.item-container{
    transition: all 1s ease-in-out;
}
.notes{
    margin-top: 1rem;
    line-height: 1.5;
}
.subPopup2{
    padding-right: 2rem;
}

.item-table button{
    margin-top: 1rem;
}

/* Light and Dark Mode */
.section3{
    right: 2%;
    position: fixed;
}
.sign{
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.light, .dark{
    font-size: 1rem;
    padding: 0.7rem 0.9rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    transform: rotate(-30deg);
    transition: all 0.5s ease-in-out;
    border: 2px solid;
}

.light:hover, .dark:hover{
    transform: rotate(0deg);
}

.light{
    background-color: white;
    color: black;
    display: none;
}

.light:hover{
    color: white;
    background-color:black;
    border: 0.5px solid;
}

.dark{
    padding: 0.55rem 0.9rem;
    background-color: white;
}

.dark:hover{
    background-color: black;
    color: white;
}
.cross{
    display: flex;
    justify-content: center;
    font-size: 15px;
    cursor: pointer;
    /* margin-bottom: 1rem; */
    width: 100%;
    gap: 15rem;
    margin-top: 3rem;
}
.cross i:hover{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px;
}
.DueDate{
    margin-top: 10px;
}
#issueDate{
    border-radius: 5px;
}
.warning{
    color: red;
    display: none;
}

@media screen and (min-width: 1441px){
    .itemInfoDiv{
        width: 60%;
    }
    .otherContent{
        width: 35%;
        margin-right: 6px;
    }
    .other{
        gap: 4.7rem;
    }
}
@media screen and (max-width: 1440px){
    body {
     width: 100vw;
     height: 100vh;
    }

    .section1{
        width: 75%;
    }
    .section2{
        width: 20%;
    }
    
}
@media screen and (max-width: 1330px){
    body {
     width: 100vw;
     height: 100vh;
    }

    .section1{
        width: 64%;
    }
    .section2{
        width: 20%;
    }
    
}
@media screen and (max-width: 1280px){
    body {
     width: 100vw;
     height: 100vh;
    }

    .section1{
        width: 61%;
    }
    .section2{
        width: 20%;
    }
    
}
@media screen and (max-width: 1220px){
    body {
     width: 100vw;
     height: 100vh;
    }

    .section1{
        width: 60%;
    }
    .section2{
        width: 20%;
    }
    
}
@media  screen and (max-width: 1025px){
    .tableHead{
        width: 100%;
    }
    .itemInfoDiv {
        width: 50%;
    }
    .otherContent{
        width: 49%;
    }
    .other{
        width: 45%;
        gap: 3.2rem;
    }
    .deleteIcon{
        margin-right: 8px;
    }
}
@media screen and (max-width: 800px){
    body {
     width: 100vw;
     height: 100vh;
    }
    .Main-container{
        display: flex;
        /* flex-direction: column; */
        /* align-items: center; */
       
        min-height: 100vh;
        max-width: 100%;
        margin: 1rem 0 1rem 0;
    }
    .deleteIcon{
        width: 43px;;
    }
    .section1{
        width: 60%;
    }
    .section2{
        width: 20%;
    }
    .bill-to, .bill-from{
        display: flex;
        flex-direction: column;
        /* justify-content: space-between; */
        width: 45%;
    }
    .dark{
        padding: 0.25rem 0.49rem;
    }
}

#back,#cross{
    background: white;
    height: 20px;
    width: 20px;
    text-align: center;
    padding: 4px;
}