*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #F3F4F6;
}

.firstpage{
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.firstpage aside{
    height: 100%;
    width: 50%;
}
.firstpage aside img{
    width: 100%;
    object-position: left 10%;
    object-fit: cover;

    height: 100%;
}
.firstpage main{
    background-color: #d0c3b6;
    height: 100%;
    width: 50%;
}
.firstpage main h1{
    color: #af7d43;
    text-align: center;
    margin-top: 12%;
    font-size: 2.8em;
    font-weight: bold;
}
.firstpage main p{
    color: rgb(31, 27, 27);
    text-align: center;
    font-size: 1.3em;

}
.choosecont{
    text-align: center;
/* background-color: #B2926D; */
    max-width: 80%;  
    margin: auto;
}
.choosecont .buttons{
    display: flex;
    justify-content: space-evenly;
}
.choosecont .one{

margin-top: 10px;

}
.one img{
    border-radius: 20px ;
    height: 200px;
    width: 200px;
    object-fit: cover;
}
.choosecont button{
    padding: 10px;
    color:black ;
    font-size:medium;
    background-color: #af7d43;
    border-radius: 5px;
    border: none;
}
.choosecont h4 {
    margin-top: 1rem;
    font-size: 0.6rem;
    color: rgb(46, 29, 8);
    text-align: center;
   
  }
  .choosecont span a {
    color: #c47925;
    font-size: 0.8rem;
    text-decoration: none;
    transition: all 0.6s ease-in-out;
  }
  .choosecont a:hover {
    font-size: 2rem;
  }

  /* .firstpage{
    display: none;
  } */
  .secondpage{
    display: none;
  }
  .thirdpage{
    display: none;
  }
  .oneone:hover{
    cursor: pointer;
    transform: scale(1.23);
    transition: .7s ease-in-out;
   
  }
  .onetwo:hover{
    cursor: pointer;
    transform: scale(1.23);
    transition: .7s ease-in-out;
  }

  /* ..........second page............................. */
   .secondpage{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* border: 2px solid violet
   */
  }nav{ 
    background-color: white;
    display: flex;
    height: 10%;
    /* border: 2px solid red; */
    justify-content: space-between;
    padding-inline: 10px ;
    align-items: center;
}
nav img{
    height: 80%;
    
}
nav button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background-color: #007500;
    border: none;
    color: white;
    margin-right: 7px;
}
.secondcont{
    display: flex;
    height:90% ;
}
.secondpage aside{
    width: 42%;
    height: 100%;
    /* border: 2px solid green; */
}
.secondcont aside p{
font-weight:300;
font-size:20px;
padding:20px;
}
.secondcont aside select{
    margin-left: 20px;
    font-family: sans-serif;
    outline: none;
    border: none;
    padding: 12px;
    width: 75%;
}

#name,#email,#number,#jobtitle,.Professional,#skills,.Description,.Descriptionpro,.Descriptionedu,.address{
    padding: 12px;
    width: 75%;
    margin-left: 20px;
    font-family: sans-serif;
    /* outline: none; */
    border: none;
    margin-bottom: 4%;
}
#employment,#project,#education,#employment33,#project3,#education3{
    padding: 12px;
    width: 75%;
    margin-left: 20px;
    margin-bottom: 3%;
    color: white;
    background-color: #007500;
    border: none;
}
#month,#monthend,#employer,#jobpre,#monthpro,#monthendpro,#projecttitle,#school,#monthendedu,#monthedu,#qualification{
    padding: 12px;
    width: 75%;
    margin-left: 20px;
    font-family: sans-serif;
    /* outline: none; */
    border: none;
    margin-bottom: 2%;
}

.colorpick-eyedropper-input-trigger{
    display: none;
}
#colorheader,#colortext,#colorheader31,#colortext31,#colorheader32,#colortext32{
    margin-left: 20px;
    border: none;
    cursor: pointer;
    height: 25px;    
}
.secondmain{
    height: 155vh;
    width: 50%;
    border: 1px solid rgb(55, 53, 53);
    box-shadow: 6px 6px 6px rgb(86, 88, 89);
    /* box-shadow: -3px -3px 6px rgb(86, 88, 89); */
    border-radius: 7px;
    margin-top: 25px;
}
.resheader{
    height: 14.8%;
    background-color: #007500;
    display: flex;
    flex-direction: column;
   justify-content: center;
   padding-top: 1.2%;
    padding-left: 17px;
}
.resume{
    display: flex;
    width: 100%;
    height: 100%;
}

.resumeleft{
    width: 29%;
    height: 83.5%;
    /* border: 2px solid palevioletred; */
    background-color: #F3F4F6;
}
.resumeright{
    width: 71%;
    height: 83.5%;
    background-color: #FFFFFF;
    /* border: 2px solid darkblue; */
}
.resumeleftcont{
    height: 500px;
    width: 80%;
    margin: 20px auto;
}
hr{
    color: black;
}

.skill1{
    background-color: black;
    font-size: 14px;
    padding: 5px;
    margin-block: 3%;
    color: #FFFFFF;

}
.skillsadd{
    font-size: 14px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    color: #FFFFFF;
    gap: 4.6%;

}
.contactadd{
    font-size: 14px;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    color: #FFFFFF;
    gap: 4.6%;
}
.contactphone,.contactemail,.contactaddr{
    margin-bottom: 20px;
    display: flex;
    gap: 3%;
    align-items: center;
    /* flex-wrap: wrap; */
}
.resumerightcont{
    height: 500px;
    width: 90%;
    margin: 20px auto;
}
.summarycont,.experiencecont,.projectcont,.educationcont{
    margin-block:10px;
}

#nameheader{
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 5px;
}
#nameniche{
    font-size: 18px;
    font-weight: 400;
}


/* ..................third page....................  */

.thirdpage{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* border: 2px solid violet
   */
  }nav{ 
    background-color: white;
    display: flex;
    height: 10%;
    /* border: 2px solid red; */
    box-shadow: 7px 1px 6px gray;
    justify-content: space-between;
    padding-inline: 10px ;
    align-items: center;
}
nav img{
    height: 80%;
    
}
nav button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    background-color: #007500;
    border: none;
    color: white;
    margin-right: 7px;
}
.thirdcont{
    display: flex;
    
    height:90% ;
}
.thirdpage aside{
    width: 42%;
    height: 100%;
    /* border: 2px solid green; */
}
.thirdcont aside p{
font-weight:300;
font-size:20px;
padding:20px;
}
.thirdcont aside select{
    margin-left: 20px;
    font-family: sans-serif;
    outline: none;
    border: none;
    padding: 12px;
    width: 75%;
}

#name,#email,#number,#jobtitle,.Professional,#skills,.Description,.Descriptionpro,.Descriptionedu,.address{
    padding: 12px;
    width: 75%;
    margin-left: 20px;
    font-family: sans-serif;
    /* outline: none; */
    border: none;
    margin-bottom: 4%;
}
#employment,#project,#education{
    padding: 12px;
    width: 75%;
    margin-left: 20px;
    margin-bottom: 3%;
    color: white;
    background-color: #007500;
    border: none;
}
#month,#monthend,#employer,#jobpre,#monthpro,#monthendpro,#projecttitle,#school,#monthendedu,#monthedu,#qualification{
    padding: 12px;
    width: 75%;
    margin-left: 20px;
    font-family: sans-serif;
    /* outline: none; */
    border: none;
    margin-bottom: 2%;
}

.colorpick-eyedropper-input-trigger{
    display: none;
}
#colorheader,#colortext{
    margin-left: 20px;
    border: none;
    cursor: pointer;
    height: 25px;    
}
.thirdmain{
    height: 155vh;
    width: 50%;
    /* border: 2px solid red; */
    border: 1px solid rgb(55, 53, 53);
    box-shadow: 6px 6px 6px rgb(86, 88, 89);

    border-radius: 7px;
    margin-top: 25px;
}
.headerthird{
    display: flex;
   
    height: 17%;
    width: 100%;
}
.thirdleft{
    display: flex;
    justify-content: center;
    align-items: center;  
      width: 62%;
      color: #e5e0e0;
    background-color: #333333;
}
.thirdright{
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
    text-transform: uppercase;
    background-color:#00798A;
    gap: 5px;
    text-decoration:underline;
}
.header2{
    display: flex;
    height: 6.8%;
    
}
.header3{
    display: flex;
    height: 15%;
}
.header4{
    display: flex;
    height: 6.8%;
}
.profile2{
    padding-left: 5.5%;
    padding-top: 3%;
    width: 62%;
    font-size: 1.8em;
    background-color: #00798A;
    color: #e5e0e0;
}
.contact2{
    padding-left: 5.5%;
    padding-top: 3%;
    width: 62%;
    font-size: 1.8em;
    width: 38%;
    color: #e5e0e0;
    background-color:  #333333;

}
.profile2cont{
    width: 62%;
    background-color: #F5F5F5;
}
.contact2cont{
    width: 38%;
    background-color:  #DDDDDD;
}
.num{
    display: flex;
    padding-left: 13.5%;
    margin-block: 6%;
    gap: 5%;
    align-items: center;
}
.skillsnamecont4,.education6cont7{
    padding-left: 13.5%;
    margin-block: 6%;
    gap: 5%;
    align-items: center;
}
.mailgmail{
    display: flex;
    padding-left: 13.5%;
    margin-block: 6%;
    gap: 5%;
    align-items: center;
}
.locationadd{
    display: flex;
    padding-left: 13.5%;
    margin-block: 6%;
    gap: 5%;
    align-items: center;
}
.prfilecont2,.exprence4cont4,.project6cont7{
    margin-inline:7.8%;
    padding-top: 3%;
}

.exprence4{
    padding-left: 5.5%;
    padding-top: 3%;
    width: 62%;
    font-size: 1.8em;
    background-color: #00798A;
    color: #e5e0e0;
}
.skillsname{
    padding-left: 5.5%;
    padding-top: 3%;
    width: 62%;
    font-size: 1.8em;
    width: 38%;
    color: #e5e0e0;
    background-color:  #333333;
}
.header5{
    display: flex;
    height: 23.5%;
}
.exprence4cont{
    width: 62%;
    height: 100%;
}

.skillsnamecont{
    width: 38%;
    background-color:  #DDDDDD;
    height: 100%;
    /* border: 2px solid green; */

}
.header6{
        display: flex;
        height: 6.8%;
}
.project6{
    padding-left: 5.5%;
    padding-top: 3%;
    width: 62%;
    font-size: 1.8em;
    background-color: #00798A;
    color: #e5e0e0;
}
.education6{
    padding-left: 5.5%;
    padding-top: 3%;
    width: 62%;
    font-size: 1.8em;
    width: 38%;
    color: #e5e0e0;
    background-color:  #333333;
}
.header7{
    height: 24%;
    display: flex;
}
.project6cont{
    width: 62%;
    height: 100%;
}
.education6cont{
    width: 38%;
    background-color:  #DDDDDD;
    height: 100%;
}

.hiddenayush{
    display: none;
}





.projectcont11{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
width: 100%;
}
/* .start,.end{
    align-self: flex-end;
} */
.projectcont{
    width: 100%;
}
.flex{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

}
.flex2{
    display: flex;
    align-items: center;
    gap: 0.5rem;

}
#newappend,#newappendeducat,#newappendemploy{
    /* display: none;
     */
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 13rem;
     background-color: green;
     border: none;
     padding: 8px;
     margin-bottom: 15px;
     display: none;
     color: white;
}
.descriptionempl,.descriptionedu1,.descriptionpro{
    /* color: #007500; */
    width: 70%;
    padding-left: 1rem;
    padding-top: .5rem;
    margin-bottom: 10px;
}
.experiencecont,.projectcont,.educationcont{
    width: 100%;
}

.exprence4cont,.project6cont{
    /* width: 90%; */
    margin-block:10px ;
   padding-inline:2rem;
   
}
.education6cont{
padding-inline: 1rem;
padding-top: 10px;
}